body {
    margin: 0;
    padding: 10px;
    min-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #6C63FF;
}
button {
    width: 100px;
    height: 30px;
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 8px 18px;
    font-weight: bold;
    background: #6C63FF;
    border: 1px solid #6C63FF;
}
#read-button {
    color: #6C63FF;
    background: #FFF;
}
ul {
    padding-left: 0;
    margin-top: 20px;
    list-style: none;
}
li {
    margin-top: 5px;
}
li a{
    color: #6C63FF;
}